<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARp0QNX42VnHs93RBxK446v2lgZ9aUh4A</string>
	<key>GCM_SENDER_ID</key>
	<string>613455590936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assgn1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>assign1-5a4ca</string>
	<key>STORAGE_BUCKET</key>
	<string>assign1-5a4ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613455590936:ios:b9d64356d75edd4578756d</string>
</dict>
</plist>